header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  background: #000;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  width: 100%;
}

.log-cotn img {
  width: 70px;
}

.desk-nav {
  margin-right: -100px;
}

.desk-nav a {
  margin: 10px 20px;
  text-decoration: none;
  color: #707070;
  font-size: 18px;
}

.desk-nav span {
  margin: 10px 20px;
  text-decoration: none;
  color: #ff8000;
  font-size: 18px;
}

nav a {
  text-decoration: none;
}

nav a button {
  margin-bottom: 30px;
  padding: 18px 20px 18px 20px;
  color: #fff;
  background: #ff8000;
  font-size: 18px;
  border: none;
  display: inline;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
